<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PsEnterpriseTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PsEnterpriseTests.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>SERVER:6400</value>
            </setting>
            <setting name="Authentication" serializeAs="String">
                <value>secWinAD</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>usernamem</value>
            </setting>
            <setting name="SecurePassword" serializeAs="String">
                <value>secure string text</value>
            </setting>
        </PsEnterpriseTests.Properties.Settings>
    </applicationSettings>
</configuration>